<div class="h-screen flex flex-col">
  <%- include ('../partials/common/header') %>
  <div class="grow">
    <div id="content" class="max-w-screen-xl mt-20 m-auto px-4">
      <%- include ('../pages/' + page) %>
    </div>
  </div>
  <%- include ('../partials/common/footer') %>
</div>
