<h2 class="text-4xl font-bold dark:text-white mb-5">Todo</h2>

<% if (error) { %>
<p class="text-red-400 dark:text-red-400"><%= error %></p>
<% } %>

<%- include('../partials/todos/todo-create-form', form ) %>

<ul id="todo-list" class="grid grid-cols-3 gap-5" hx-boost="true">
  <% for (const todo of todos) { %>
    <%- include('../partials/todos/todo-item', todo ) %>
  <% } %>
</ul>
